<div class="jumbotron" style="position: relative;">
    <div class="text-center">
        <h1 class="display-4">Arsenios Chatziantoniou</h1>
        <h3>Software Engineer</h3>
    </div>
    <div style="position: absolute; bottom:5px; right:10px;">
        <a href="https://www.linkedin.com/in/arsenios-chatziantoniou-4a081022b/" target="_blank" class=>
            <img src="../../assets/Linkedin.png" width="24" height="24" class="rounder-circle  me-2">
        </a>
        <a href="https://github.com/DevNou" target="_blank" class=>
            <img src="../../assets/GitHub.png" width="24" height="24" class="rounder-circle me-2">
        </a>
        <a href="https://www.facebook.com/?locale=el_GR" target="_blank" class=>
            <img src="../../assets/Facebook.jpg" width="24" height="24" class="rounder-circle me-2">
        </a>

    </div>

</div>