<div class="container">
    <div class="row">
        <!--About-->
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>About me 😁</h2>
                <img src="../../assets/photo.jpg" alt="profile pic" width="256" height="256" class="rounded-circle">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, esse. Odio quidem doloribus harum illum nihil non accusantium rem cum eligendi, tempora veniam impedit autem ea iure blanditiis? Obcaecati, repellat.</p>
            </div>
        </div>
        <!--Project-->
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>Featured Project</h2>
            </div>
        </div>
    </div>
</div>